<nav class="fixed top-0 z-10 p-1 right-0">
  <!-- <a href="/">Home</a> -->
  <button id="hamburger" class="bg-white p-1 off">menu</button>
</nav>
<div class="menudrop">
  <nav class="menudrop__nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="#contact" class=" js-menu-off">Contact</a></li>
    </ul>
  </nav>
</div>
