<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title or 'Broccolou' }}</title>
    <link rel="stylesheet" href="/assets/css/app.css" />
  </head>
  <body class="loading">
    {% include "partials/nav.njk" %}
    <div class="py-4"></div>
    {{ content | safe }}
    {% include "partials/footer.njk" %}
  </body>
</html>
