<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title or 'Eleventy Starter' }}</title>
    <link rel="stylesheet" href="/assets/css/app.css" />
    <script src="/assets/js/app.js" defer></script>
  </head>
  <body>
    <nav class="fixed top-0 z-10 p-1 bg-white">
      nav
    </nav>
    {{ content | safe }}

    <footer class="footer bg-black text-white text-center relative p-2">
      <span class="uppercase">
        Made by Matt
      </span>
    </footer>
  </body>
</html>
