---
pagination:
  data: collections.projects
  size: 1
  alias: project
  addAllPagesToCollections: true
permalink: 'projects/{{ project.uid }}/index.html'
---

{% set title = project.title %}
<h1>
  {{ title }}
</h1>
{{ project.uid | safe if project.uid else "project content not found" }}
