---
layout: home
title: Welcome
---

<main>
  <div class="hero">
    <div class="content" id="projects_content"></div>
    <div class="revealer">
      <div class="revealer__inner"></div>
    </div>
    <div class="grid grid--slideshow" id="projects"></div>
  </div>
  <div class="hero__screen"></div>
  <div class="body">
    <h2>hello</h2>
  </div>
</main>
