---
layout: home
title: Welcome
---

<main>
  <div class="hero">
    <div class="content" id="projects_content"></div>
    <div class="revealer">
      <div class="revealer__inner"></div>
    </div>
    <div class="grid grid--slideshow" id="projects"></div>
  </div>
  <div class="hero__screen"></div>
  <div class="body">
    <ul>
      {% for prj in collections.projects %}
      <li>
        <a href="projects/{{ prj.uid }}">
          {{ prj.data.project_name[0].text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</main>
